@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Let's Cook that Turkey</h1>
</div>

<body>
    <div class="turkeyVideo">
        <center><iframe width="733" height="538" src="https://www.youtube.com/embed/Dyxr--0hHWU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>

    <br/>

    <form method="post" asp-page="Index">
        <section class="weight">
            <center><input type="text" name="weight" placeholder="How many pounds is the turkey?" size="100"></center>
        </section>
        <br/>
        <section class="submission">
            <center><input class="submissionbutton" type="submit" value="🦃" asp-page-handler="Submit" ></center>
        </section>
    </form>

    <br/>

    <section class="recipe">

        <!-- This solution came from https://stackoverflow.com/a/7602751/13741035 -->

        <center><h2 style="white-space: pre-line">@Model.SubmissionResult</h2></center>
    </section>
</body>
